
body {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  
}
#main > article {
  flex: 1;
  padding: 10px ;
  border: #0cdfc3 solid 2px;

margin: 20px;
}
 h1 {
text-align: center;
}
p {
    border:#0cdfc3 solid 2px;
    background: #e9ecf5
}
header, footer {
  background: #0cdfc3;
  height: 10vh;
  text-align: center;
}
header, footer aside {
  padding: 10px;
height: 100%;
}
